fastapi
uvicorn
gunicorn
sqlalchemy
pydantic
python-dotenv
slowapi
redis
google-auth
requests
Pillow
sentence-transformers
bcrypt
passlib
python-jose[cryptography]
werkzeug
psycopg2-binary
httpx
python-multipart
torch
transformers
opencv-python-headless